.grid-sys{
    display: grid;
    border: 2px solid black;
    height: 800px;
    grid-template-columns:200px 400px 100px 50px;
}
.box{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: orange;
}
