li{
    display: inline-block; 
    width: 200px;
    border: 2px solid black;
    /* block level element ->inline */
}

a{ 
    color:black;
    text-decoration: none;
}
ul{
    text-align: center;
}
i{
    display: block;
}
