.main{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: orange;
    position:sticky;
   top:0;
}
.price{
    background-color: white;
    width: 100px;
    position: relative;
    top:80%;
    left:20%;
}
ul{
    text-align: center;
    border: 2px solid black;
    position: sticky;
    top:0px;
}
li{
    display: inline-block;
}
.sidebar{
    width: 400px;
    border: 2px solid black;
    height: 100vh;
    position: fixed;
    left:0;
    top: 0;
}
