.main {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header";
/* padding: 100px; */
  /* column-gap: 20px; */
}
.header{
    background-color: aqua;
    grid-area: header;
    height: 90px;
    text-align: center;
    border: 1px solid black;
}
