.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 100vh;
}
.main::before {
  content: " ";
  width: 100%;
  height: 100vh;
  background-image: url("./stadium-4760441_1280.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(8px);
}

h1 {
  z-index: 3;
}
