#mainImage{
    width: 300px;
    /* height: 200px; */
}
#search{
    width: 500px;
}
#imageDiv{
margin-top: 40px;
}
//make the content center
//make the input box similar to the original google input
