*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}
/* GOAL:WHEN THE WIDTH OF SCREEN BECOME 500PX ->THE BACK COLOR OF MAIN DIV BECOME BLACK */
/* 100 200 400 450 499 500  */
@media (max-width:500px) {
    .main{
        background-color: black;
    }
}