li{
    display: inline-block; 
    width: 200px;
    border: 2px solid black;
    /* block level element ->inline */
}

a{ 
    color:black;
    text-decoration: none;
}
ul{
    text-align: center;
}
i{
    display: block;
}

h1{
   /* border-width: 2px;
   border-style: dashed;
   border-color: blueviolet; */
   border: 2px dashed blueviolet;
    /* margin-left: 500px; */
}
i{
margin: 2px;}
